/*------------------
  body
------------------*/

body {
  height: 100%;
  position: relative;
  color: cc(text);
  background-color: cc(bg);
  font-family: fc(light);
  font-size: 17px;
  overflow-x: hidden;
}
