// colors

$colors: (
	default: (
		bg: #2b303b,
		text: #878b8f,
		border: #424955,
		on: #009688,
		valid: #ace1a5,
		error: #c66,
		shadow: #22262e
	),
	alt: (
		bg: #363c4a,
		text: #e5f4f2,
		border: #2b303b,
		shadow: #343a45
	)
);
