// colors

$colors: (
	default: (
		bg: #fff,
    text: #262626,
    primary: #2685e2,
    alt: #78c3f5,
    accent: #00eeb2
	),
  link: (
    text: #fff,
    hover: #9c9c9c,
    visited: #eceded
  ),
	input: (
		bg: #fff,
    text: #363636
	)
);
