// color-control
// use cc($color, [$palette | $alpha], [$alpha])

$colors: (
	default: (
    text: #262626,
		bg: #fff,
    border: #fff,
    primary: #2685e2,
    alt: #66c5f4,
    accent: #00eeb2
	),
  alt: (
    text: #fff,
    bg: #262626,
    accent: #2bbf93
  ),
  sidebar: (
    bg: #eaf1f2,
    border: #9c9c9c,
    sub: #565656
  ),
  footer: (
    text: #aeaeae,
    bg: #363636,
    cr-text: #9c9c9c,
    cr-bg: #262626
  ),
	input: (
    text: #363636,
    bg: #fff
	),
  milestone: (
    first: #2bbf93,
    second: #fcfdfd,
    third: #2685e2
  )
);
