// font-control
// use font mixin

$fonts: (
  light: (
    family: "Ubuntu-Light",
    height: 1.3
  ),
  regular: (
    family: "Ubuntu",
    height: 1.3
  ),
  bold: (
    family: "Ubuntu-Bold",
    height: 1.25
  ),
  display: (
    family: "RevolutionGothic-ExtraBold",
    height: 1.15
  )
);
