/* admin
---------*/

#post-body-content .acf-fields {
	display: flex !important;
	flex-wrap: wrap;
	justify-content: space-between;
}

#post-body-content .half-field {
	width: 45%;
	margin: 0;
}

#post-body-content .third-field {
	width: 30%;
	margin: 0;
}

#post-body-content .single-field {
	width: 100%;
	margin: 0;
}

#post-body-content .half-field + .half-field + *,
#post-body-content .third-field + .third-field + *,
#post-body-content .single-field + .single-field + * {margin-top: 30px}

.acf-fields:after {display: none}
