/* post list */

.archive {
  &__nav {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 4.5vw;
    background-color: cc(bg,alt);
    color: cc(text,footer);
    font-family: fc(bold);
    font-size: 18px;

    a:hover {
      color: cc(text,alt);
      text-decoration: underline;
    }
  }

  &__none {
    padding: 6vw 4.5vw;
    text-align: center;
    font-family: fc(regular);
    font-size: 20px;
    line-height: 1.25;
  }

  &__message {
    margin-bottom: .5rem;
    color: cc(primary);
    font-family: fc(display);
    font-size: 46px;
    text-transform: uppercase;
  }
}
