/* post list */

.archive {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;

  &__nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 4.5vw;
    background-color: cc(bg,alt);
  }

  &__none {
    width: 100%;
    padding: 6vw 4.5vw;
    text-align: center;
    font-size: 20px;
    @include font(regular);
  }

  &__message {
    margin-bottom: .5rem;
    color: cc(primary);
    font-size: 46px;
    text-transform: uppercase;
    @include font(display);
  }
}
