/* feed */

.feed {
  height: 50vw;
  display: flex;
  flex-wrap: wrap;

  &__item {
    position: relative;
  }

  &__image {
    size: 100%;
    absolute: top left;
    filter: grayscale(.6);
    @include bgCover;
  }

  &__content {
    transition: background-color 275ms $ease;
    position: relative;
    size: 100%;
    padding: 2.25vw;
    display: flex;
    flex-direction: column;
    color: cc(text,alt);
    z-index: 1;
    background-color: cc(bg,alt,.4);
  }

  &__title {
    font-family: fc(display);
    font-size: 36px;
    z-index: 1;
    pointer-events: none;
  }

  &__excerpt {
    transition: opacity 275ms $ease;
    font-family: fc(regular);
    opacity: 0;

    .feed__content:hover & {
      opacity: 1;
    }
  }

  &__overlay {
    display: block;
    size: 100%;
    absolute: top left;
    z-index: -1;
  }

  &__link {
    size: 100%;
    absolute: top left;
  }

  &--news {
    border-width: 5px 0 5px 5px;

    .feed__item {
      size: 50%;

      .feed__title {
        text-align: right;
      }

      &:first-child {
        width: 100%;
        text-align: left;

        .feed__title {
          margin-bottom: 2.25vw;
        }

        .feed__content {
          justify-content: flex-start;
          align-items: flex-start;
        }
      }
    }

    .feed__content {
      justify-content: space-between;
      align-items: flex-end;

      &:hover {
        background-color: cc(bg,alt,0);
      }
    }
  }

  &--events {
    display: block;
    border-width: 5px 5px 5px 0;

    .feed__item {
      height: calc(100% / 3);
    }

    .feed__content {
      justify-content: space-between;
      align-items: flex-start;

      &:hover {
        background-color: cc(bg,alt,0);
      }
    }
  }
}
