/*------------------
  feed
------------------*/

.feed {
  position: relative;

  @media (--desktop) {
    height: calc(100vh - 64px);
    margin-top: 64px;
    display: flex;
    flex-wrap: wrap;
  }

  &__header {
    height: 65px;
    padding: 1rem 2.25vw 0;
    background-color: cc(primary);
    color: cc(text,alt);
    font-size: 20px;
    text-transform: uppercase;
    @include font(bold);

    @media (--desktop) {
      width: 100%;
      absolute: top left;
      transform: translateY(-100%);
    }
  }

  &__type {
    position: relative;
    display: flex;
    align-items: center;

    &::after {
      content: '';
      size: 100% 3px;
      absolute: bottom -.5vw left;
      border-radius: 2px;
      background-color: cc(bg);
    }
  }

  &__item {
    position: relative;
  }

  &__image {
    size: 100%;
    absolute: top left;
    filter: grayscale(.6);
    @include bgCover;
  }

  &__content {
    transition: background-color 225ms $ease;
    position: relative;
    size: 100%;
    padding: 2.25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: cc(text,alt);
    background-color: cc(bg,alt,.6);
    z-index: 1;
  }

  &__title {
    @include font(display);
    font-size: 36px;
    z-index: 1;
    pointer-events: none;
  }

  &__excerpt {
    padding: 2.25vw 0;

    @media (--desktop) {
      transition: opacity 225ms $ease;
      padding: 0;
      opacity: 0;
      @include font(regular);

      .feed__content:hover & {
        opacity: 1;
      }
    }
  }

  &__overlay {
    display: block;
    size: 100%;
    absolute: top left;
    background-color: cc(primary,.65);
    z-index: -1;

    @media (--desktop) {
      background-color: cc(primary,.85);
    }
  }

  &__link {
    size: 100%;
    absolute: top left;
  }

  &--news {
    .feed__item {
      height: 50%;

      @media (--desktop) {
        size: 50%;
      }

      .feed__title {
        @media (--desktop) {
          text-align: right;
        }
      }

      &:first-of-type {
        width: 100%;
        text-align: left;

        .feed__title {
          margin-bottom: 2.25vw;
        }

        .feed__content {
          align-items: flex-start;
        }
      }
    }

    .feed__content {
      @media (--desktop) {
        align-items: flex-end;
      }

      &:hover {
        background-color: cc(bg,alt,0);
      }
    }
  }

  &--events {
    display: block;

    .feed__item {
      @media (--desktop) {
        height: calc(100% / 3);
      }
    }

    .feed__header {
      background-color: cc(accent, alt);

      @media (--desktop) {
        background-color: cc(primary);
      }
    }

    .feed__content {
      justify-content: space-between;
      align-items: flex-start;

      &:hover {
        background-color: cc(bg,alt,0);
      }
    }

    .feed__overlay {
      background-color: cc(accent,alt,.8);
    }
  }

  &--post {
    height: 20vw;
    margin-top: 0;

    .feed__overlay--event {
      background-color: cc(accent,alt,.8);
    }
  }
}
