/*------------------
  footer
------------------*/

.footer {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 2.25vw 4.5vw;
  padding-bottom: calc(2.25vw + 3rem);
  color: cc(text,footer);
  background-color: cc(bg,footer);

  &__title {
    @include font(bold);
    margin-bottom: .75rem;
  }

  &__message {
    display: none;

    @media (--tablet) {
      display: block;
      width: 25%;
      margin-right: 4.5vw;
    }

    @media (--desktop) {
      width: auto;
    }
  }

  &__sitemap {
    display: none;

    @media (--tablet) {
      display: block;
    }
  }

  &__socialList {
    text-align: right;

    @media (--tablet) {
      text-align: left;
    }
  }

  &__social {
    display: inline-block;
    size: 26px;

    .icon {
      fill: cc(text,footer);
    }

    &:hover .icon {
      fill: cc(text,alt);
    }

    &+& {
      margin-left: .5rem;
    }
  }

  &__copyright {
    absolute: bottom left;
    width: 100%;
    padding-left: 4.5vw;
    color: cc(cr-text,footer);
    background-color: cc(cr-bg,footer);
    font-size: .9rem;
    line-height: 3rem;
    vertical-align: middle;
  }

  a:hover {
    color: cc(text,alt);
    text-decoration: underline;
  }

  @media (--only-phone) {
    .logo {
      margin-top: .75rem;
    }
  }
}
