/*------------------
  header
------------------*/

.header {
  position: relative;
  height: 35vw;
  color: cc(text,alt);

  &::after {
    content: '';
    size: 100%;
    absolute: top left;
    @include gradient;
  }

  &__image {
    size: 100%;
    absolute: top left;
    filter: grayscale(.5);
    @include bgCover;
  }

  &__title {
    width: 100%;
    absolute: top 50% left;
    transform: translateY(-50%);
    padding: 0 2.25vw;
    @include font(display);
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
    z-index: 1;

    @media (--tablet) {
      font-size: 60px;
    }

    @media (--desktop) {
      font-size: 72px;
    }
  }

  &__grav {
    size: 120px auto;
    background-color: cc(bg);
    border: 3px solid cc(border);
    border-radius: 100%;
  }

  &--home {
    height: 100vh;
    max-height: 1080px;

    &::after {
      mix-blend-mode: initial;
      @include gradient(.65,1);
    }

    .header__title {
      font-size: 60px;

      @media (--tablet) {
        font-size: 90px;
      }

      @media (--desktop) {
        font-size: 120px;
      }
    }
  }

  &--map::after {
    display: none;
  }

  &--reverse::after {
    @include gradient(.5,.65,40%,top);
  }
}
