/* header */

.header {
  position: relative;
  height: 35vh;
  color: cc(text,header);
  @include bgCover;

  &::after {
    content: '';
    size: 100%;
    absolute: top left;
    @include gradient;
  }

  &--frontpage {
    height: 100vh;
    max-height: 1080px;

    &::after {
      background-image: linear-gradient(
        to bottom,
        cc(accent,.65) 40%,
        cc(primary)
      );
    }
  }

  &__title {
    width: 100%;
    absolute: top 50% left;
    transform: translateY(-50%);
    font-family: fc(display);
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
    z-index: 1;

    @media (--tablet) {
      font-size: 90px;
    }

    @media (--desktop) {
      font-size: 120px;
    }
  }
}
