/*------------------
  map
------------------*/

.map {
  position: relative;
  height: 100%;

  &__marker {
    position: relative;
    padding: 1rem 0;
  }

  &__venue {
    font-family: fc(bold);
    font-size: 17px;
    color: cc(primary);
  }

  &__address {
    margin-top: .5rem;
    color: cc(text);
  }

  &__link {
    display: block;
    size: 100%;
    absolute: top left;
  }
}
