/*------------------
  post
------------------*/

.post {
  position: relative;
  display: flex;
  align-items: stretch;
  background-color: cc(bg);

  &__content {
    padding: 0 4.5vw 4.5vw;
    @include flex;

    &--article {
      .rte > p:first-of-type {
        position: relative;
        margin: 4.5vw;
        color: #000;
        background-color: #fff;
        font-size: 26px;
        text-align: justify;
        overflow: hidden;
        @include font(bold);

        &::after {
          content: '';
          size: 100%;
          absolute: top left;
          mix-blend-mode: screen;
          @include gradient(1,1,0);
        }
      }
    }
  }

  &__sidebar {
    width: calc(100% / 3);
  }

  &__title {
    text-align: center;

    &--event {
      position: relative;
      margin: 4.5vw 9vw;
      color: black;
      background-color: white;
      @include font(bold);
      font-size: 36px;
      overflow: hidden;

      &::after {
        content: '';
        size: 100%;
        absolute: top left;
        mix-blend-mode: screen;
        @include gradient(1,1,0);
      }
    }
  }

  &__meta {
    padding: 2.25vw 4.5vw;
  }
}
