/* preview */

.preview {
  position: relative;
  width: 50%;
  display: flex;
  align-items: stretch;

  &:nth-child(4n+2),
  &:nth-child(4n+3) {
    background-color: cc(bg,sidebar);
  }

  &__image {
    position: relative;
    width: 42.5%;
    filter: grayscale(.5);
    @include bgCover;
  }

  &__content {
    padding: 2.25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    @include flex(1);
  }

  &__title {
    margin-bottom: 1.25rem;
    color: cc(primary);
    font-family: fc(display);
    font-size: 28px;
  }

  &__meta {
    margin-top: 1.25rem;
    text-align: right;

    a {
      font-family: fc(bold);
      color: cc(primary);

      &:hover {
        text-decoration: underline;
      }
    }

    b {
      font-family: fc(regular);
    }
  }

  &--event .preview__title {
    color: cc(accent,alt);
  }
}
