/* preview */

.preview {
  position: relative;
  width: 50%;
  display: flex;
  align-items: stretch;

  &:nth-child(4n+2),
  &:nth-child(4n+3) {
    background-color: cc(bg,sidebar);
  }

  &__image {
    position: relative;
    width: 42.5%;
    filter: grayscale(.75) contrast(.5) brightness(1.5);
    @include bgCover;
  }

  &__overlay {
    size:  42.5% 100%;
    absolute: top left;
    mix-blend-mode: multiply;
    background-color: cc(primary,.5);
  }

  &__content {
    padding: 2.25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    @include flex(1);
  }

  &__title {
    margin-bottom: 1.25rem;
    color: cc(primary);
    @include font(display);
    font-size: 28px;
  }

  &__meta {
    margin-top: 1.25rem;
    text-align: right;
    z-index: 1;

    a {
      @include font(bold);
      color: cc(primary);

      &:hover {
        text-decoration: underline;
      }
    }

    b {
      @include font(regular);
    }
  }

  &--event {
    .preview__overlay {
      background-color: cc(accent,alt,.5);
    }

    .preview__title {
      color: cc(accent,alt);
    }
  }
}
