/*------------------
  row
------------------*/

.row {
	@media (--desktop) {
		display: flex;
		align-items: stretch;
		@include clearfix;

    &__item {
  		float: left;
      @include flex;

  		&--double {
        @include flex(2);
  		}
  	}
  }

	&--md {
		@media (--tablet) {
			display: flex;
			align-items: stretch;
			@include clearfix;

  		.row__item {
  			float: left;
        @include flex;
  		}
    }
	}
}
