/* sidebar */

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  background-color: cc(bg,sidebar);

  &__meta {
    margin-top: .5rem;
    margin-left: 1rem;
    font-size: 18px;
    line-height: 1.2;
  }

  &__label {
    position: relative;
    font-family: fc(display);
    color: cc(primary);
    text-align: right;
    text-transform: uppercase;
    font-size: 26px;
    margin-top: 2.25vw;
    padding-bottom: .25rem;

    &::after {
      content: '';
      absolute: bottom left;
      size: 100% 3px;
      background-color: cc(border,sidebar,.2);
      border-radius: 2px;
    }

    &--group {
      margin-top: .75rem;
    }
  }

  &__link {
    color: cc(primary);
    font-family: fc(bold);
    font-size: 18px;
    text-decoration: underline;
    text-align: right;
    margin-top: 2.25vw;
  }
}
