/*------------------
  signup
------------------*/

.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  height: 30vw;
  padding: 0 4.5vw;
  background-color: cc(accent);
  text-align: center;

  &__title {
    @include font(display);
    font-size: 36px;
    color: cc(text,alt);
    text-transform: uppercase;
  }

  &__field {
    @media (--tablet) {
      display: flex;
    }
  }

  &__input {
    transition: box-shadow 225ms $ease;
    padding: .75rem 0;
    margin-right: .5rem;
    color: cc(text,input);
    background-color: cc(bg,input);
    box-shadow: 0 0 0 2px cc(border);
    border-radius: 3px;
    text-align: center;
    @include flex;

    &:focus {
      box-shadow: 0 0 0 2px cc(primary);
    }
  }

  &__message {
    position: relative;
    margin: 1rem 1rem 2rem;
    padding-top: 1rem;

    &::before {
      content: '';
      size: 30% 3px;
      absolute: top left 50%;
      transform: translate(-50%,-50%);
      background-color: cc(border,.65);
    }
  }

  &--home {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 4.5vw;
    background-image: url(images/form_bg.jpg);
    @include bgCover;

    @media (--desktop) {
      flex-direction: row;
    }

    .signup__title {
      color: cc(primary);
      margin-bottom: 4.5vw;

      @media (--desktop) {
        margin-bottom: 0;
      }
    }

    .signup__input {
      width: 300px;
      margin-right: 4.5vw;
      padding: .75rem 1rem;
      text-align: left;

      @media (--desktop) {
        margin-left: 4.5vw;
      }
    }

    .signup__button {
      color: cc(primary);
      background-color: cc(primary,0);
      box-shadow: 0 0 0 2px cc(primary);

      &:hover {
        color: cc(text,alt);
        background-color: cc(primary);
      }
    }
  }
}
