/* signup */

.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  height: 30vw;
  padding: 0 4.5vw;
  background-color: cc(accent);
  text-align: center;

  &__title {
    font-family: fc(display);
    font-size: 36px;
    color: cc(text,alt);
    text-transform: uppercase;
  }

  &__input {
    transition: box-shadow 225ms $ease;
    padding: .75rem 1rem;
    margin-right: .5rem;
    color: cc(text,input);
    background-color: cc(bg,input);
    box-shadow: 0 0 0 2px cc(border);
    border-radius: 3px;
    text-align: center;

    &:focus {
      box-shadow: 0 0 0 2px cc(primary);
    }
  }

  &__button {
    transition: all 225ms $ease;
    padding: .75rem 1rem;
    color: cc(text,alt);
    background-color: cc(bg,0);
    border: 2px solid cc(border);
    font-family: fc(bold);
    border-radius: 3px;

    &:hover {
      color: cc(accent);
      background-color: cc(bg);
    }
  }

  &__message {
    position: relative;
    margin: 1rem 1rem 2rem;
    padding-top: 1rem;

    &::before {
      content: '';
      size: 30% 3px;
      absolute: top left 50%;
      transform: translate(-50%,-50%);
      background-color: cc(border,.65);
    }
  }

  &--home {
    flex-direction: row;
    align-items: center;
    height: auto;
    padding: 4.5vw;
    background-image: url(images/form_bg.jpg);
    @include bgCover;

    .signup__title {
      color: cc(primary);
    }

    .signup__input {
      width: 300px;
      margin: 0 4.5vw;
      text-align: left;
    }

    .signup__button {
      color: cc(primary);
      background-color: cc(primary,0);
      border: 2px solid cc(primary);

      &:hover {
        color: cc(text,alt);
        background-color: cc(primary);
      }
    }
  }
}
