// functions

// color-control
@function cc($color, $option: false, $alpha: false) {
  $opacity: null;
  $palette: null;

  @if ($alpha)  {$opacity: $alpha;}
  @else         {$opacity: if(type-of($option) == 'number', $option, false);}

  @if ($option) {$palette: if(type-of($option) == 'number', default, $option);}
  @else         {$palette: default;}

  $getPalette: map-get($colors, $palette);
  $result: if($opacity, rgba(map-get($getPalette, $color), $opacity), map-get($getPalette, $color));

  @return $result;
}

// font-control
@function fc($font) {
  $fontString: map-get($fonts, $font);
  @return $fontString;
}
