// mixin

@mixin clearfix {
	&::after {
		content: '';
		display: block;
		height: 0;
		visibility: hidden;
		clear: both;
	}
}

@mixin gradient($a1:.65,$a2:.75,$mid:40%) {
  background-image: linear-gradient(
    to bottom,
    cc(accent,$a1) $mid,
    cc(primary,$a2)
  );
}

@mixin bgCover($pos:center) {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: $pos;
}

@mixin flex($grow:1,$shrink:0,$basis:0) {
  flex-grow: $grow;
  flex-shrink: $shrink;
  flex-basis: $basis;
}

@mixin longWordWrap {
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
}

@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
