/* utils */

.icon {
  size: 100%;
}

.logo {
  size: auto 55px;
}

.text--desktop {
  display: none;

  @media (--desktop) {
    display: inline-block;
  }
}

.text--mobile {
  @media (--desktop) {
    display: none;
  }
}
